body {

	background: #E6DADA; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #E6DADA , #274046); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #E6DADA , #274046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	        
}

h1 {
	font-family: 'Ultra', serif;
	padding-top: 20px;
	margin-left: 5px;
}

sup {
	font-size: 50%;
}

h2 {
	font-size: 10px;
    margin: 0px 10px;
    float: left;
}

h3 {
	font-family: 'Pacifico', cursive;
	color: #ffffff;
}

button:focus {
	outline:0;
}

#rules {
	position: absolute;
    transform: rotate(-11deg);
    margin-top: 50px;
}

#machine {
	padding-top: 125px;
	padding-bottom: 100px;
}

#buttonPanel {
	height: 405px;
    width: 410px;
	background-color: #333333;
	margin: auto;
	padding-top: 14px;
	border-radius:50%;
	position: relative;
}

#btn1 {
	border-top-left-radius: 100%;
}

#btn2 {
	border-top-right-radius: 100%;
}

#btn3 {
	border-bottom-left-radius: 100%;
}
#btn4 {
	border-bottom-right-radius: 100%;
}

.bigbtn {
	height: 180px;
    width: 180px;
    padding: 0px;
    margin: 4px;
}

#controlPanel {
	height: 225px;
    width: 225px;
	border-radius: 50%;
    border-style: solid;
    border-width: 10px;
	position: relative;
	margin: auto;
    margin-top: -303px;
}

#countScreen {
	float: left;
    margin-left: 30px;
    background-color: #421717;
    width: 45px;
    border-radius: 20%;
}

#counterFont {
    font-size: 22px;
    margin: 0 0 3px;
}

#startButton {
	background-color: red;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    margin-right: 32px;
    margin-top: 3px;

}

#strictButton {
	background-color: yellow;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    margin-right: 15px;

}

#textRow {
	margin-top: 10px;
    margin-left: 23px;
}

#switchContainer {
	margin-top: 30px;
    margin-left: 80px;
    height: 15px;
    border-radius: 19%;
    background-color: black;
    position: absolute;
    width: 40px;
    text-align: left;
}

#switchButton {
	background-color: #4B4BB3;
    height: 15px;
    border-radius: 20%;
    padding-bottom: 0px;
    border-bottom-width: 0px;
    width: 17px;
    border: none;
}

.on {
	float:right;
}

.red {
	color: red;
}

.regularColor1 {
	background-color: /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4ddb4+0,83c783+17,52b152+33,008a00+67,005700+83,002400+100;Green+3D+%231 */background:#b4ddb4;
    background: -moz-radial-gradient(center, ellipse cover, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%);
    background: radial-gradient(ellipse at center, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=1 );
}
.regularColor2 {
	background-color: /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a90329+0,8f0222+38,6d0019+100 */background:#a90329;
    background: -moz-radial-gradient(center, ellipse cover, #a90329 0%, #8f0222 38%, #6d0019 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #a90329 0%,#8f0222 38%,#6d0019 100%);
    background: radial-gradient(ellipse at center, #a90329 0%,#8f0222 38%,#6d0019 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 );
}
.regularColor3 {
	background-color: /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefcea+4,f1da36+58 */background:#fefcea;
    background: -moz-radial-gradient(center, ellipse cover, #fefcea 4%, #f1da36 58%);
    background: -webkit-radial-gradient(center, ellipse cover, #fefcea 4%,#f1da36 58%);
    background: radial-gradient(ellipse at center, #fefcea 4%,#f1da36 58%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=1 );
}
.regularColor4 {
	background-color: /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a7cfdf+0,23538a+100;Blue+3d+%238 */background:#a7cfdf;
    background: -moz-radial-gradient(center, ellipse cover, #a7cfdf 0%, #23538a 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #a7cfdf 0%,#23538a 100%);
    background: radial-gradient(ellipse at center, #a7cfdf 0%,#23538a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=1 );
}

.lightenColor1 {
	background-color: #4DB14D !important; 
}
.lightenColor2 {
	background-color: #AB2D2D !important;
}
.lightenColor3 {
	background-color: #E1E565 !important;
}
.lightenColor4 {
	background-color: #4747A3 !important;
}

.brushedMetal { 
	/*by simuari.com (http://simurai.com/lab/2011/08/21/brushed-metal)*/
	background-image: -webkit-radial-gradient(  50%   0%,  8% 50%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient(  50% 100%, 12% 50%, hsla(0,0%,100%,.6) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient(   0%  50%, 50%  7%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient( 100%  50%, 50%  5%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
    
    -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   3%, hsla(0,0%,  0%,.1) 3.5%),
    -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%,.1) 7.5%),
    -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.2) 2.2%),
    
    -webkit-radial-gradient( 50% 50%, 200% 50%, hsla(0,0%,90%,1) 5%, hsla(0,0%,85%,1) 30%, hsla(0,0%,60%,1) 100%);
}













